@using Sporacid.Simplets.Webapp.App.Resources.Buttons
@using Sporacid.Simplets.Webapp.App.Resources.Labels
@using Sporacid.Simplets.Webapp.App.Resources.Messages
@using Sporacid.Simplets.Webapp.App.Resources.Titles

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">@Html.Raw(TitleStrings.ProfilAvance_MainTitle)</h3>
  </div>
  <!-- Validation state view. -->
  <ul id="profil-avance-validation-errors" class="validation-errors" data-bind="foreach: states">
    <li><b data-bind="text: property"></b> - <span data-bind="  text: message"></span></li>
  </ul>
  <div id="profil-avance" style="padding: 20px;" data-bind="with: profilAvance">
    <!-- Advanced profil view mode. -->
    <div id="view-profil-avance" data-bind="visible: $root.viewmode() == viewmodes.view()">
      <div class="form-group">
        <label>@Html.Raw(LabelStrings.ProfilAvance_CodePermanent)</label>
        <p data-bind="text: codePermanent || '@Html.Raw(LabelStrings.Profil_DefaultValue)'"></p>
      </div>
      <div class="form-group">
        <label>@Html.Raw(LabelStrings.ProfilAvance_DateNaissance)</label>
        <p data-bind="text: dateNaissance || '@Html.Raw(LabelStrings.Profil_DefaultValue)'"></p>
      </div>
      <div class="form-group">
        <label>@Html.Raw(LabelStrings.ProfilAvance_Telephone)</label>
        <p data-bind="text: telephone || '@Html.Raw(LabelStrings.Profil_DefaultValue)'"></p>
      </div>
      <div class="form-group">
        <label>@Html.Raw(LabelStrings.ProfilAvance_Courriel)</label>
        <p data-bind=" text: courriel || '@Html.Raw(LabelStrings.Profil_DefaultValue)'"></p>
      </div>
      <button data-bind="click: $root.beginEdit" type="submit" class="btn btn-primary"><i class="metro-icon metro-edit-trans"></i>@Html.Raw(ButtonStrings.Edit)</button>
    </div>
    <!-- Advanced profil edition mode. -->
    <div id="edit-profil-avance" data-bind="visible: $root.viewmode() == viewmodes.edition()">
      <form role="form">
        <div class="form-group">
          <label>@Html.Raw(LabelStrings.ProfilAvance_CodePermanent)</label>
          <input data-bind="value: codePermanent" class="form-control" placeholder="Votre code permament" />
        </div>
        <div class="form-group">
          <label>@Html.Raw(LabelStrings.ProfilAvance_DateNaissance)</label>
          <input data-bind="value: dateNaissance" type="date" class="form-control" />
        </div>
        <div class="form-group">
          <label>@Html.Raw(LabelStrings.ProfilAvance_Telephone)</label>
          <input data-bind="value: telephone" class="form-control" placeholder="Votre numéro de téléphone" />
        </div>
        <div class="form-group">
          <label>@Html.Raw(LabelStrings.ProfilAvance_Courriel)</label>
          <input data-bind="value: courriel" type="email" class="form-control" placeholder="Votre courriel" />
        </div>
        <div class="form-group">
          <label>@Html.Raw(LabelStrings.ProfilAvance_Public)</label>
          <input data-bind="checked: public" type="checkbox" class="form-control text-left" style="width: 40px;"/>
          <p class="help-block">@Html.Raw(MessageStrings.ProfilAvance_PublicDisclaimer)</p>
        </div>
        <button data-bind="click: $root.edit" type="submit" class="btn btn-primary"><i class="metro-icon metro-save-trans"></i>@Html.Raw(ButtonStrings.Save)</button>
        <button data-bind="click: $root.cancelEdit" class="btn btn-default"><i class="metro-icon metro-cancel-trans"></i>@Html.Raw(ButtonStrings.Cancel)</button>
      </form>
    </div>
  </div>
</div>