@using Sporacid.Simplets.Webapp.App.Resources.Buttons
@using Sporacid.Simplets.Webapp.App.Resources.Labels
@using Sporacid.Simplets.Webapp.App.Resources.Messages
@using Sporacid.Simplets.Webapp.App.Resources.Titles

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">@Html.Raw(TitleStrings.ProfilBase_MainTitle)</h3>
  </div>
  <!-- Rest exception container. -->
  <div id="profil-base-rest-exception">
    @Html.Partial("Exception/_RestException")
  </div>
  <div id="profil-base" style="padding: 20px;" data-bind="template: { data: profil, afterRender: resizeAvatar }">
    <!-- Base profil view mode. -->
    <div id="view-profil-base" class="row" data-bind="visible: $root.viewmode() == app.enums.viewmodes.view">
      <div class="col-md-4">
        <label>@Html.Raw(LabelStrings.ProfilBase_Avatar)</label>
        <div class="profil-avatar" data-bind="style: { 'background-image': sprintf('url(\'%s\')', avatarDataUri) }" style="height: 230px;"></div>
      </div>
      <div class="col-md-8">
        <div class="form-group">
          <label>@Html.Raw(LabelStrings.ProfilBase_Prenom)</label>
          <p data-bind="text: prenom || '@Html.Raw(LabelStrings.Profil_DefaultValue)'"></p>
        </div>
        <div class="form-group">
          <label>@Html.Raw(LabelStrings.ProfilBase_Nom)</label>
          <p data-bind="text: nom || '@Html.Raw(LabelStrings.Profil_DefaultValue)'"></p>
        </div>
        <div class="form-group">
          <label>@Html.Raw(LabelStrings.ProfilBase_Concentration)</label>
          <p data-bind="text: concentration || '@Html.Raw(LabelStrings.Profil_DefaultValue)'"></p>
        </div>
        <button data-bind="click: $root.beginEdit" type="submit" class="btn btn-primary">
          <i class="fa fa-2x fa-pencil-square-o vcenter white"></i>
          <span class="vcenter">@Html.Raw(ButtonStrings.Edit)</span>
        </button>
      </div>
    </div>
    <!-- Base profil edition mode. -->
    <div id="edit-profil-base" class="row" data-bind="visible: $root.viewmode() == app.enums.viewmodes.edition">
      <div class="col-md-4">
        <label>@Html.Raw(LabelStrings.ProfilBase_Avatar)</label>
        <div class="profil-avatar" data-bind="style: { 'background-image': sprintf('url(\'%s\')', avatarDataUri) }" style="height: 230px;"></div>
      </div>
      <div class="col-md-8">
        <form role="form">
          <div class="form-group">
            <label>@Html.Raw(LabelStrings.ProfilBase_Prenom)</label>
            <input data-bind="value: prenom" class="form-control" placeholder="@Html.Raw(LabelStrings.ProfilBase_Prenom_Placeholder)" />
          </div>
          <div class="form-group">
            <label>@Html.Raw(LabelStrings.ProfilBase_Nom)</label>
            <input data-bind="value: nom" class="form-control" placeholder="@Html.Raw(LabelStrings.ProfilBase_Nom_Placeholder)" />
          </div>
          <div class="form-group">
            <label>@Html.Raw(LabelStrings.ProfilBase_Concentration)</label>
            <select data-bind="
              options: $root.concentrations,
              optionsValue: 'id',
              optionsText: function (concentration) { return concentration.toString(); },
              optionsCaption: '@HttpUtility.JavaScriptStringEncode(LabelStrings.ProfilBase_Concentration_Placeholder)',
              value: concentrationId" class="form-control"></select>
          </div>
          <div class="form-group">
            <label>@Html.Raw(LabelStrings.ProfilBase_Public)</label>
            <input data-bind="checked: public" type="checkbox" class="form-control text-left" style="width: 40px;"/>
            <p class="help-block">@Html.Raw(MessageStrings.ProfilBase_PublicDisclaimer)</p>
          </div>
        </form>
        <button data-bind="click: $root.edit" type="submit" class="btn btn-success">
          <i class="fa fa-2x fa-check vcenter white"></i>
          <span class="vcenter">@Html.Raw(ButtonStrings.Save)</span>
        </button>
        <button data-bind="click: $root.cancelEdit" class="btn btn-danger">
          <i class="fa fa-2x fa-times vcenter white"></i>
          <span class="vcenter">@Html.Raw(ButtonStrings.Cancel)</span>
        </button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  app.events.ready(function ($) {
    var $profilBase = $("#profil-base");
    ko.applyBindings(new ProfilBaseModelView($profilBase, $("#profil-base-rest-exception")), $profilBase[0]);
  });
</script>