@using Sporacid.Simplets.Webapp.App.Resources.Buttons
@using Sporacid.Simplets.Webapp.App.Resources.Labels
@using Sporacid.Simplets.Webapp.App.Resources.Messages
@using Sporacid.Simplets.Webapp.App.Resources.Titles

<div id="commanditaire" data-bind="with: currentCommanditaire">
  <div >
    <div >
      <div >
        <h4 >@Html.Raw(TitleStrings.Commanditaire_MainTitle)</h4>
      </div>
      <div >
        <form role="form">
          <div class="form-group">
            <label>@Html.Raw(LabelStrings.Commanditaire_Nom)</label>
            <input data-bind="value: nom" class="form-control" />
          </div>
          <div class="form-group">
              <label>@Html.Raw(LabelStrings.Commanditaire_Contact)</label>
              <input data-bind="value: contact" class="form-control"/>
          </div>
          <div class="form-group">
              <label>@Html.Raw(LabelStrings.Commanditaire_TypeCommanditaire)</label>
              <select data-bind="options: $root.typesCommanditaires,
                                 optionsValue: 'id',
                                 optionsText: 'nom',
                                 value: typeCommanditaireId" class="form-control"></select>
          </div>
          <div class="form-group">
              <label>@Html.Raw(LabelStrings.Commanditaire_Commentaire)</label>
              <input data-bind="value: commentaire" class="form-control"/>
          </div>
          @Html.Partial("Common/_Adresse")
          @Html.Partial("Common/_Contact")
        </form>
      </div>
    </div>
  </div>
</div>
