<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    
    @Styles.Render("~/bundles/styles")

    @Scripts.Render("~/bundles/scripts")
    
    @RenderSection("ScriptsImportTop", required: false)

    @RenderSection("StylesImport", required: false)
    
    <style type="text/css">
       @RenderSection("InlineStyles", required: false)
    </style>

    <!-- you need to include the shieldui css and js assets in order for the charts to work -->
    @*<link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/shieldui-all.min.css" />
    <link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light-bootstrap/all.min.css" />
    <link id="gridcss" rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/dark-bootstrap/all.min.css" />*@

@*    <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
    <script type="text/javascript" src="http://www.prepbootstrap.com/Content/js/gridData.js"></script>*@
  </head>
  <body>
    <div id="wrapper">
      @RenderPage("Partials/_NavBar.cshtml")
      @RenderBody()
    </div>
    
    @RenderSection("ScriptsImportBottom", required: false)

    <script type="text/javascript">
      jQuery(function ($) {
        @RenderSection("InlineDocumentReady", required: false)
        // bootstrapApplication();
      });
      @RenderSection("InlineScripts", required: false)
    </script>
  </body>
</html>