<!DOCTYPE html>
<html>
  <head>
    <meta charset="ISO-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SimplETS | @ViewBag.Title</title>
    
    @Styles.Render("~/bundles/styles")

    @Scripts.Render("~/bundles/scripts")
    
    @RenderSection("ScriptsImportTop", required: false)

    @RenderSection("StylesImport", required: false)
    
  </head>
  <body id="body">
    
    @Html.Partial("Partials/_Login");

    <div id="wrapper">
      
      @RenderPage("Partials/_NavBar.cshtml")

      @RenderBody()

    </div>
    
    <script type="text/javascript">
      jQuery(function ($) {

      });
    </script>

    @RenderSection("ScriptsImportBottom", required: false)

  </body>
</html>